<?php /** @var $block Magento\Framework\View\Element\Template */ ?>
<div class="trust-banner owl-carousel" data-mage-init='{ "swissclinic/customcarousel": {
            "margin": 0,
            "nav": false,
            "responsive": {
                "0": {
                    "items": 1,
                    "center": true,
                    "dots": true,
                    "loop": true,
                    "mouseDrag": true,
                    "pullDrag": true,
                    "stagePadding": 40,
                    "touchDrag": true
                },
                "768": {
                    "center": false,
                    "dots": false,
                    "loop": false,
                    "mouseDrag": false,
                    "items": 3,
                    "pullDrag": false,
                    "stagePadding": 0,
                    "touchDrag": false
                }
            }}}'>
    <div class="trust-banner__slide text-center">
        <img src="https://s3-eu-west-1.amazonaws.com/grand-combin/trust-banner/pinterest.jpg" alt="" class="trust-banner__logo" />
        <span class="trust-banner__quote">“The biggest beauty trend of 2018”</span>
        <span class="trust-banner__brand">- Pinterest</span>
    </div>
    <div class="trust-banner__slide text-center" style="padding: 0;">
        <img class="trust-banner__logo" src="https://s3-eu-west-1.amazonaws.com/grand-combin/trust-banner/harpers-bazar.jpg" alt="" />
        <span class="trust-banner__quote">“Swiss Clinic – Microneedling made simple”</span>
        <span class="trust-banner__brand">- Harper’s Bazaar</span>
    </div>
    <div class="trust-banner__slide text-center">
        <img src="https://s3-eu-west-1.amazonaws.com/grand-combin/trust-banner/gq.jpg" alt="" class="trust-banner__logo" />
        <span class="trust-banner__quote">“Swiss Clinic takes skin care to the next level”</span>
        <span class="trust-banner__brand">- GQ</span>
    </div>
</div>
